<!-- addbook.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Add Book" }) %>

  <body>
    <%- include('partials/navbar') %>

    <div class="content">
      <div class="create">
        <h2>Add a New Book</h2>
        <form action="/addBook" method="POST">
          <label>Title:</label
          ><input type="text" value="" id="title" name="title" required />

          <label for="author">author:</label>
          <textarea
            value=""
            id="author"
            name="author"
            rows="4"
            required
          ></textarea
          ><br />

          <label for=" genre"> Genre:</label>
          <input type="date" id=" genre" name=" genre" required /><br />

          <label>Author:</label>
          <select>
            <option value="pooja">rani</option>
            <option value="rani">pooja</option></select
          ><br />



          <button type="submit">Add Book</button>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>